.cont-01 {
    margin-left: 2%;
    margin-right: 2%;
    width: 93%;
    height: 65%;
    padding: 20px;
    border: 5px solid #042C3B;
    text-align: justify;
    border-radius: 8px;
    background-color: #4CCC7B;
}