.container-02{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.gif-02{
  margin-top: 70px;
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

.part1-02, .part2-02, .part3-02{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 0; 
  margin: 0;
}

.part1-02{height: 50%;}

.part2-02{height: 33%;}

.part3-02{height: 33%;}

.button-02{height: 50px;}

.h1-02{
  font-size: 150px;
  padding: 0; 
  margin: 0;
  line-height: 100px;
}

.h2-02{}