.navbar-container-05{
    display: flex;
    width: 100%;
    height: 145px;
    border-bottom: 8px solid #042C3B;
    background: linear-gradient(269deg, #04B204 0%, #4CCC7B 49.34%, #04B204 100%);
}

.full-section-container-05{
    width: 100%;
    display: flex;
}

.left-section-container-05, .right-section-container-05{
    justify-content: space-around;
    width: 50%;
    display: flex;
    align-items: center;
    z-index: 3;
}

.left-section-container-05{
    margin-left: 30px;
    margin-right: 150px;
}

.right-section-container-05{
    margin-left: 150px;
    margin-right: 30px;
}

.tocenter-05{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-container-05 svg, .icon-05 {
    position: absolute;
}

.icon-05{
    width: 150px;
    height: 133px;
    position: relative;
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.icon-05:hover{
    transform: scale(1.06);
}

.section-05 .a-05, .a-05:visited{
    text-decoration: none;
    font-size: 36px;
    color: #042C3B;
    font-weight: 600;
}

.section-05:hover {
  transform: scale(1.1);
  color: #011c25;
}

.navbar-symbols-05 {
  font-size: 270%;
  color: #042C3B;
}

.navbar-symbols-05:hover {
  transform: scale(1.1);
  color: #011c25;
}

.navbar-position {
    position: fixed;
    top: 0;
    width: 100%;

  }

.Link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, color 0.3s ease;
}

  .login {
    width: 110%;
    color: #042C3B;
    background-color: #fffefe;
    border: 2px solid #042C3B;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 200%;
  }

  .login:hover {
    color: blue;
  }

  .regist {
    width: 110%;
    background-color: #fffefe;
    border: 2px solid #042C3B;
    border-radius: 5px;
    color: #042C3B;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 80%;
  }
  
  .regist:hover {
    color: blue;
  }

.seller-button{
    padding: 5px 20px;
    font-size: 130%;
    border: none;
    background-color: #012837; 
    color: #fff; 
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
