.title-07{
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.profile {
    margin-top: 3%;
    background-image: url('../images/profileBk.png');
    margin-left: 2%; 
    background-color: #4CCC7B;
    width: 24%;
    height: 68%;
    padding: 20px;
    border-radius: 8px;
    float: left;
    border: 5px solid #042C3B;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40%;
    border-radius: 10%;
    object-fit: cover;
    border: 3px solid #042C3B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-info {
    margin-top: 20px;
}
.profile-info label {
    font-weight: bold;
}
.profile-info p {
    margin: 5px 0;
    font-family: "Poppins", sans-serif;
}

label {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.yourProducts { 
    margin-top: 3%;
    margin-right: 2%; 
    width: 64%;
    height:68%;
    background-color: #4CCC7B;
    padding: 20px;
    border-radius: 8px;
    float: right;
    border: 5px solid #042C3B;
}

.yourProducts {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-style: normal;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
}

.column img {
    border-radius: 10%;
    border: 3px solid #042C3B;
    max-width: 70%;
    height: auto;
    cursor: pointer;
}

.column:hover {
    transform: scale(1.1);
}

h1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 250%;
    text-align: center;
    color: #042C3B;;
}