.title-07{
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color:#042C3B;
}

.cont-09 {
    margin-top: 2.5%; /* ou 10vh, conforme necessário */
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding: 13px;
    border: 5px solid #042C3B;
    text-align: justify;
    border-radius: 8px;
    background-color: #4CCC7B;
}

.titles-09 {
    font-size: 180%;
    font-weight: bold;
    color: #012837; ;
    text-align: left;
    margin-top: 1%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
  }

  .text-09 {
    font-size: 105%;
  }

  .verDev-09 {
    width: 30%;
    height: 30%;
    position: absolute;
    left: 65%;
    top: 72%;
  }