/*pref: -15*/
.space-15{
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: flex-start;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc; /* Borda da tabela */
  }
  
  /* Estilo para os cabeçalhos */
  thead th {
    background-color: #ffffff; /* Cor de fundo dos cabeçalhos */
    border-bottom: 2px solid #ccc; /* Borda inferior dos cabeçalhos */
    padding: 8px; /* Espaçamento interno dos cabeçalhos */
  }
  
  /* Estilo para as células de dados */
  tbody td {
    padding: 8px; /* Espaçamento interno das células de dados */
  }
  
  .pending {
    /* Estilos para o estado pending */
    background-color: yellow; /* Por exemplo, cor da fonte laranja */
}

.accepted {
    /* Estilos para o estado accepted */
    background-color: green; /* Por exemplo, cor da fonte verde */
}

.refused {
    /* Estilos para o estado refused */
    background-color: red; /* Por exemplo, cor da fonte vermelha */
}

.b-15{
  height: 50px;
  width: 100px;
  margin: 0px;
  padding: 0px;
}

