.title-07{
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.div-photo{
    margin-top: 3%;
    margin-left: 2%; 
    background-color: #4CCC7B;
    width: 30%;
    height: 60%;
    padding: 20px;
    border-radius: 8px;
    float: left;
    border: 5px solid #042C3B;
    font-size: 170%;
}

.selected-image {
    max-width: 45%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 5px solid #042C3B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-forms{
    margin-top: 3%;
    margin-right: 2%; 
    width: 56%;
    background-color: #4CCC7B;
    padding: 20px;
    border-radius: 8px;
    float: right;
    border: 5px solid #042C3B;
}

.label-photo {
    display: block;
    width: 100%;
    margin: 0 auto; 
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.photo-input-07 {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.label-forms {
    font-size: 100%;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}

.input-box-07 {
    margin-bottom: 10px;
    width: 30%;
    margin: auto;
}

.input-box-07 label {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.input-box-07 input {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 10px;
    border: 2px solid #042C3B;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
.input-box-07 input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.newinput-07{
    text-align: center;
}

.div-button {
    display: flex;
    justify-content: center;
}

.button-07{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    font-size: 140%;
    border: none;
    background-color: #012837; 
    color: #fff; 
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-07:hover {
    background-color: #011c25;
}