.profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  margin-right: 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-info {
  margin-top: 20px;
  width: 100%;
}

.profile-info label {
  font-weight: bold;
  color: #333;
}

.profile-info p,
.profile-info input,
.profile-info textarea {
  margin: 5px 0 15px;
  padding: 10px;
  width: 100%;
  background: #f9f9f9;
  border-radius: 5px;
  color: #555;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.profile-info input,
.profile-info textarea {
  background: #fff;
}

.profile-info input:focus,
.profile-info textarea:focus {
  outline: none;
  border-color: #aaa;
}

.edit-save-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #042C3B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-save-button:hover {
  background: #0056b3;
}

.popupProfile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupProfile {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popupProfile h2 {
  margin-bottom: 10px;
}

.popupProfile p {
  margin-bottom: 20px;
}

.popupProfile-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #042C3B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popupProfile-button:hover {
  background: #0056b3;
}