body {
    background-color: rgb(211, 246, 211);
  }

a {
    text-decoration: none;
    color: black 
}

.container {
  background-color: #3f9e42;;
  border: 5px solid black;
  border-radius: 10px;
  margin: 0 auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5%;
  }

.teste{
  display: flex;
  justify-content: center;
}

.item {
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s ease;
}
      
.item:hover {
  transform: scale(1.1);
}

