
.profile {
    width: 20%;
    height: 80%;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    float: left;
    border: 4px solid rgb(0, 151, 0);
}

.profile-pic {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid  green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-info {
    margin-top: 20px;
}
.profile-info label {
    font-weight: bold;
}
.profile-info p {
    margin: 5px 0;
}

.yourProducts {
    width: 30%;
    height: 40%;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    float: right;
    border: 4px solid rgb(0, 151, 0);
}

h1{
    text-align: center;
}