
.profile {
    margin-left: 2%; 
    background-color: #4CCC7B;
    width: 24%;
    height: 60%;
    padding: 20px;
    border-radius: 8px;
    float: left;
    border: 5px solid #042C3B;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40%;
    border-radius: 10%;
    object-fit: cover;
    border: 3px solid #042C3B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-info {
    margin-top: 20px;
}
.profile-info label {
    font-weight: bold;
}
.profile-info p {
    margin: 5px 0;
}

.yourProducts {
    margin-right: 2%; 
    width: 62%;
    height:60%;
    background-color: #4CCC7B;
    padding: 20px;
    border-radius: 8px;
    float: right;
    border: 5px solid #042C3B;
}

h1{
    text-align: center;
    color: #042C3B;;
}