body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: overlay;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(1,40,55,0.3),rgba(35,172,91,0.5)),url(../images/green-bg1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='4' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a");
    z-index: -1;
}

::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #01283796;
    border-radius: 15px;
    border: 3px ;
  }

.iconDiv {
    text-align: center;
    margin-bottom: 0.2%;
}

.icon:hover {
    transform: scale(1.1);
}

.main {
    width: 25%;
    background-color: rgba(255, 255, 255,0.6);
    text-align: center;
    margin: 0 auto;
    border-radius: 12px;
    border: 5px solid #012837;
    font-size: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa {
    position: relative;
    display: inline-block;
}

.fa .fa-text {
    visibility: hidden;
    width: 150px;
    background-color: #3a985b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-family: "Poppins", sans-serif;
}

.fa .fa-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 36%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #3a985b transparent transparent transparent;
}

.fa:hover .fa-text {
    visibility: visible;
}

label{
    font-family: Arial, sans-serif;
    background-color: #012837;
    padding: 5px 10px;
    border: 1px solid #012837;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 3%;
}

.textBox{
    text-align: center;
    border-width: 3px;
    border-radius: 10px;
    border: 2px solid #012837;
    padding: 8px;
}

div.create {
    text-align: center;
}

.button-container {
    text-align: center;
    margin-top: 1%;
}



button {
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    font-size: 150%;
    border: none;
    background-color: #012837; 
    color: #fff; 
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #02364b;
}

/*Fontes*/

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


  